.env
chat_messages.db
.venv

# Ignore Python virtual environment
bin/
include/
lib/
lib64/
pyvenv.cfg

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# SQLite database
*.db

# VSCode settings (optional, if you're using VSCode)
.vscode/

# Environment variable filesa
.env
.env.*
./__pycache__
lib64
chat_messages.db